*.s
*.asm
*.exe
*.o

/.vscode
/CNN/PlantVillage
/CNN/PlantVillage_segmentado
/CNN/resultados_experimentos/segmentacion/pares
/runtime_bare_metal/.vscode
/CNN/evaluate.py
/architecture_pl/architecture_pl.cache
/architecture_pl/architecture_pl.hw
/architecture_pl/architecture_pl.ip_user_files
/architecture_pl/architecture_pl.runs
/architecture_pl/architecture_pl.sim
/architecture_pl/architecture_pl.srcs/utils_1
/architecture_pl/architecture_pl.srcs/sources_1/new/relu_quant.vhd

*.pdf
*.docx
*.pptx
*.txt
*.csv

*.keras
*.tflite

*.log
*.bat
*.wdb
*.prj
*.tcl
*.pb
*.ini
*.lpr
*.xpr

