*.s
*.asm
*.exe
*.o

/.vscode
/CNN/data/raw
/CNN/data/segmentado_unet
/CNN/results/legacy/resultados_experimentos/segmentacion/pares
/CNN/hw_quant_sim.py
/CNN/src/training/legacy/evaluate.py
/CNN/src/__pycache__
/runtime_bare_metal/.vscode
/runtime_bare_metal/vitis_ws
/architecture_pl/
/dma
/constraints

/tb/gen_conv3x3_tb.py

/vitis

*.pdf
*.docx
*.pptx
*.txt
*.csv

*.keras
*.tflite

/notas_proyecto.md

*.log
*.bat
*.wdb
*.prj
*.tcl
*.pb
*.ini
*.lpr
*.xpr
!/runtime_bare_metal/scripts/*.tcl

__pycache__/
*.pyc

