*.s
*.asm
*.exe
*.o

/.vscode
/CNN/PlantVillage
/CNN/PlantVillage_segmentado
/CNN/resultados_experimentos/segmentacion/pares
/runtime_bare_metal/.vscode
/CNN/evaluate.py

*.pdf
*.docx
*.txt
*.csv

*.keras
*.tflite